@model AddMovieViewModel


<form asp-action="AddMovie" method="post">
    <div style="max-width: 500px; margin: auto;">
        <div class="d-flex flex-column gap-3">
            <h2 class="text-center">Add Movie</h2>

            <!-- input for title -->
            <div class="form-group">
                <label asp-for="Movie.Title"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>

            <!-- input for image url -->
            <div class="form-group">
                <label asp-for="Movie.ImageUrl"></label>
                <input asp-for="Movie.ImageUrl" class="form-control" />
                <span asp-validation-for="Movie.ImageUrl" class="text-danger"></span>
            </div>

            <!-- textarea for description -->
            <div class="form-group">
                <label asp-for="Movie.Description"></label>
                <textarea asp-for="Movie.Description" class="form-control"></textarea>
            </div>

            <!-- dropdown list of actors -->
            <div class="form-group">
                <label class="form-label">Actors</label>
                <select asp-for="SelectedActorIds" asp-items="@Model.AvailableActors" class="form-control" multiple></select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>